/* Make navbar fixed at the top */
 .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .logo-img{
      border-radius: 10px;
  }
  /* Add padding to top of the body to avoid content hiding under navbar */
  body {
      font-family: footlight MT;
    padding-top: 70px;
   text-align: justify;
  }
  .nav-link{
      font-size: 18px;
  }
  /* Hover effect for navbar links */
  .navbar-nav .nav-link {
    transition: background-color 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #a28dff; /* Light grey hover color */
    border-radius: 5px; /* Rounded corners */
  }
  /* Footer styling */
.footer {
    background-color: #a28dff;
    width: 100vw; /* Ensures the footer takes the full width of the viewport */
    margin: 0; /* Removes any external margin */
    padding: 0; /* Removes any padding */
}
  .btn{
      background-color: #000;
      color: white;
      font-size: 20px;
      border-radius: 15px;
      padding: 15px 30px;
  }
  .btn:hover{
      color: white;
  }
  .link{
      color: white;
  }
